canvas {
	position: absolute;
	width: 700px;
	height: 750px;
	background: transparent;
}

#backgroundCanvas {
	/*background-color: #000;*/
}

button {
	position: absolute;
	background-color: #4CAF50;
	text-align: center;
	color: white;
	width: 200px;
	height: 100px;
	margin-top: 700px;
	font-size: 30px;
	padding: 0;
}
#right {
	/*margin-top: 750px;*/
	margin-left: 495px;

}
#space {
	width: 295px;
	margin-left: 200px
}
#score {
		font-size: 20px;
		position: absolute;
		color: black;
		width: 100px;
		height: 20px;
		margin-left: 10px;
}